.text {
  width: 60%;
  overflow: scroll;
}
.text > h1 {
  color: tomato;
  display: flex;
  justify-content: center;
}
.text > h2 {
  color: dodgerblue;
  display: flex;
  justify-content: center;
}
